@font-face {
    font-family: "MuktaVaani";
    src: url("resources/MuktaVaani-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

:root {
    --dark-purple: #595895;
    --light-purple: #8880BB;
    --orange: #E7AC74;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0; 
    padding: 0;
    font-family: MuktaVaani;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* ================================================================
===================================================================
===================================================================
                        NAV BUTTON CSS CODE 
===================================================================
===================================================================
================================================================ */
.nav_button {
    box-sizing: border-box;
}

.nav_contain {
    width: 60px;
    height: 60px;
    position: fixed;
    z-index: 999;
    left: 10px;
    /* top: 10px; */
    display: block;
    margin: auto;
}

.nav_button .nav_links {
    display: flex;
}

.nav_button .nav_contain li {
    list-style: none;
}

.nav_button .nav_contain a {
    text-decoration: none;
    box-shadow: inset 0 0 0 0 var(--orange);
    color: var(--orange);
    font-weight: 500;
    font-size: 1.2rem;
    margin: 0 -0.25rem;
    padding: 0 0.8rem;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.nav_button .nav_contain a:hover {
    box-shadow: inset 100px 0 0 0 var(--orange);
    color: white;
}

.nav_button .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 5px;
    left: -2px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav_contain .hamburger {
    position: absolute;
    height: 26px;
    width: 32px;
    top: 10px;
    left: 2px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav_contain .hamburger .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: black;
}

.nav_contain .hamburger .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav_contain .hamburger .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav_contain .hamburger .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.nav_button .nav_links {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 200px;
    transform: translate(-150%);
    margin-left: -10px;
    padding-top: 120px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.nav_button .nav_links li {
    padding-bottom: 20px;
}

.nav_contain input[type="checkbox"]:checked ~ .hamburger .line1 {
    transform: rotate(45deg);
}

.nav_contain input[type="checkbox"]:checked ~ .hamburger .line2 {
    transform: scaleY(0);
}

.nav_contain input[type="checkbox"]:checked ~ .hamburger .line3 {
    transform: rotate(-45deg);
}

.nav_contain input[type="checkbox"]:checked ~ .nav_links {
    transform: translateX(0);
}
/* ================================================================
===================================================================
===================================================================
                        MAIN PAGE CSS CODE 
===================================================================
===================================================================
================================================================ */

#main_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    /* background-color: var(--light-purple); */
    background: linear-gradient(#ffdad5, #fff7f9);

    position: relative;
}

.profile_card {
    display: flex;
    justify-content: space-around;
    min-width: 650px;
    flex-wrap: wrap;
    margin: auto;
}

@media screen and (max-width: 650px) {
    .profile_card {
        flex-direction: column;
        align-items: center;
        min-width: auto;
    }

    #main_page {
        height: 100dvh;
        min-height: 750px;
    }
}

.name {
    margin-bottom: 0px;
    font-size: 3rem;
}

.occu {
    margin-top: 5px;
    font-size: 1.5rem;
}

.profile_card_image {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
}

.profile_card_image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* Hide all images initially */
    transition: opacity 0.8s ease; /* Transition opacity */
}

.profile_card_image img:first-child {
    opacity: 1; /* Show the first image initially */
    transition-delay: 0.1s;
}

.profile_card_image:hover img:first-child {
    opacity: 0; /* Hide the first image on hover */
}

.profile_card_image:hover img:last-child {
    opacity: 1; /* Show the second image on hover */
    transition-delay: 0.1s;
}

.profile_card_text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.profile_card_text a img {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.profile_card_text a img:hover {
    filter: grayscale(0%);
}

.contact_button {
    padding: 0;
    width: 180px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    border-left: 10px solid var(--orange);
    transition: 0.3s;
}

.contact_button:hover,
.contact_button:focus {
    box-shadow: inset 180px 0 0 0 var(--orange);
}

.arrow_next {
    bottom: 10px;
    cursor: pointer;
    transition: transform 0.5s;
}

.arrow_next:hover {
    transform: scale(1.2);
}

/* ================================================================
===================================================================
===================================================================
                        ABOUT ME CSS CODE 
===================================================================
===================================================================
================================================================ */

#about {
    height: 100dvh;
    background-color: var(--orange);
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.slideshow {
    background: #EEE;
    height: 100dvh;
}

.slide {
    display: flex;
    width: 100%;
    height: 100dvh;
    margin-right: 10px;
    background: linear-gradient(#8C8, rgb(186, 217, 186));
    align-items: center;
    flex-direction: column;
}

.slide:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
}

.flickity-prev-next-button {
    width: 50px;
    height: 50px;
    background: transparent;
    transition: transform 0.5s;
}

.flickity-prev-next-button:hover {
    background: transparent;
    transform: scale(1.2);
}

.flickity-page-dots {
    position: absolute;
    bottom: 8dvh;
}
/* white circles */
.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid var(--dark-purple);
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
    background: var(--dark-purple);
}

@media screen and (max-width: 500px) {
    .flickity-prev-next-button {
        display: none;
    }
}

.slide_box {
    position: relative;
    width: 80dvw;
    height: 80dvh;
    background-color: rgb(243, 238, 232);
    opacity: 1;
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    overflow-y: auto;
    overflow-x: hidden;
}

#about h1 {
    text-align: center;
    color: var(--dark-purple);
    font-size: 3rem;
    margin: 0;
    width: 100%;
    line-height: 3.5rem;
    padding-top: 30px;
}

#about .slide_img {
    height: auto;
    width: 40%;
    max-width: 300px;
    padding-bottom: 15px;
}

#about .slide_text {
    width: 50%;
    color: var(--dark-purple);
    font-size: 1rem;
    margin-bottom: 10px;
    padding-right: 50px;
}

#about .spotify {
    border-radius: 12px;
    padding-bottom: 15px;
}

@media screen and (max-width: 800px) {
    #about .slide_box {
        align-items: center;
        justify-content: center;
    }

    #about .slide_img {
        width: 80%;
        padding: 0;
    }
    
    #about .spotify {
        width: 80%;
    }
    
    #about .slide_text {
        text-align: center;
        padding: 0;
    }
}

/* ================================================================
===================================================================
===================================================================
                        PROJECTS CSS CODE 
===================================================================
===================================================================
================================================================ */

#projects {
    height: 100dvh;
    width: 100dvw;
    background: linear-gradient(#0072b1, #00a8e8);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

#projects h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
    margin: 0;
    width: 100%;
    line-height: 3.5rem;
    /* padding-top: 30px; */
}

#projects .tiles {
    font-size: 0;
    text-align: center;
}

.tiles .tile {
    width: 30%;
    min-width: 300px;
    height: auto;
    display: inline-block;
    margin: 10px;
    text-align: center; /* Center the content horizontally */
    position: relative;
    border-radius: 3px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.tiles .tile:before {
    content: '';
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    width: 100%;
    height: 50%;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    transition: top 0.3s, opacity 0.3s;
}

.tiles .tile img {
    width: auto;
    height: 100%; /* Ensure the image fills the entire height of the tile */
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 3px;
}

.tiles .tile .details {
    font-size: 16px;
    padding: 20px;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.tiles .tile .details span {
    display: block;
    opacity: 0;
    position: relative;
    top: 100px;
    transition: top 0.3s, opacity 0.3s;
}

.tiles .tile .details .title {
    line-height: 1;
    font-weight: 600;
    font-size: 18px;
}

.tiles .tile .details .info {
    line-height: 1.2;
    margin-top: 5px;
    font-size: 12px;
}

.tiles .tile:focus:before,
.tiles .tile:hover:before,
.tiles .tile:focus .details span,
.tiles .tile:hover .details span {
    opacity: 1;
}

.tiles .tile:focus:before,
.tiles .tile:hover:before {
    top: 50%;
}

.tiles .tile:focus .details span,
.tiles .tile:hover .details span {
    top: 0;
}

.tiles .tile .title {
    transition-delay: 0.15s;
}

.tiles .tile .info {
    transition-delay: 0.25s;
}

/* ================================================================
===================================================================
===================================================================
                        CONTACT CSS CODE 
===================================================================
===================================================================
================================================================ */

#contact {
    position: relative;
    height: 100dvh;
    width: 100dvw;
    padding: 0;
    margin: 0;
    background: linear-gradient(var(--dark-purple), var(--light-purple));
    display: flex;
    flex-wrap: wrap;
}

.contact_left {
    display: flex;
    flex-direction: column;
    width: 50dvw;
    align-items: center;
    padding-top: 50px;
    gap: 20px;
}

#contact h1 {
    text-align: center;
    color: #fff;
    font-size: 3rem;
    margin-top: 0;
    width: 100dvw;
    margin: auto;
    line-height: 3.5rem;
    padding-top:20px;
}

#contact p {
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    margin-top: 0;
    width: 80%;
    margin: auto;
}

#contact ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 50%;
    top: -30%;
    transform: translate(-50%, 40%);
    width: 100%;
    justify-content: center;
    gap: 15px;
    min-width: 300px;
}

#contact ul li {
    list-style: none;
}

#contact ul li a {
    width: 80px;
    height: 80px;
    background-color: whitesmoke;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid white;
    z-index: 1;
    transition: box-shadow 0.5s ease;
}

#contact ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}

#contact ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

#contact ul li a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.7s;
    z-index: 2;
}

#contact ul li a:hover::before {
    top: 0;}

#contact ul li a:hover {
    box-shadow: 0 0 40px #fff;
}

#contact ul li:nth-child(1) a::before{
    background: #4267b2;
}

#contact ul li:nth-child(2) a::before{
    background: #0072b1;
}

#contact ul li:nth-child(3) a::before {
    background: black;
}

#contact ul li:nth-child(3) a:hover .icon {
    filter: invert(100%)
}

#contact ul li:nth-child(4) a::before {
    background: #dd4b39;
}

.icon {
    padding-top: 18px;
}

.contact_right {
    padding: 0;
    margin: 0;
    width: 50dvw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact_form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 50dvw;
}

.contact_input {
    width: 80%;
    height: 50px;
    border: 2px solid var(--light-purple);
    outline: none;
    padding-left: 25px;
    border-radius: 50px;
}

.contact_form textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact_input:focus {
    border: 2px solid var(--orange);
}

.contact_input::placeholder {
    color: #a9a9a9;
}

.contact_form button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    margin-bottom: 20px;
    font-size: 1rem;
    gap: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background: linear-gradient(270deg, #252387, #4847b5);
    color: #fff;
}

@media screen and (max-width: 691px) {
    #contact {
        min-height: 650px;
    }
}

@media screen and (max-width: 600px) {
    .contact_right {
        width: 100dvw;
    }

    .contact_form {
        width: 95dvw;
        align-items: center;
    }

    .contact_left {
        width: 100dvw;
        padding-top: 0;
        padding-bottom: 10px;
    }

    #contact {
        min-height: 800px;
    }
}